.input {
  width: 100%;
  margin-top: 16px;
  border: 1px solid rgba(77, 1, 1, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  height: 20px;
  background-color: inherit;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
}

.label {
  font-size: 30px;
  color: sienna;
}
